# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\uni\untitled1\project-fsadatl\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
